@import "variables";
@import "mixins";

.complexity {
  position: relative;
  @include flex(center, center, column);
  overflow: hidden;
  padding: 19.5% 10%;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    @include flex(center, center, row);
    width: 100vw;
    overflow: hidden;

    img {
      height: 100%;
    }
  }
  &__list {
    @include flex(center, center, column);
    padding: 10%;
    border: 1px solid $yellow;
  }
  &__item {
    @include flex(flex-start, center, column);

    .title {
      position: relative;
      padding-left: 10vw;
      text-align: left;
      color: $yellow;

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -3vw;
        width: 10vw;
        height: 1px;
        background-color: $white;
      }
    }
  }
  &__description {
    position: relative;
    margin: 10% 0;
    padding-left: 10vw;
    font-size: 12px;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 7vw;
      height: 2px;
      background-color: $yellow;
    }
  }
  &__link {
    @include flex(center, center, row);
    padding: 5%;
    border: 1px solid $white;
    color: $white;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    svg {
      margin-right: 10px;
      height: 20px;
      width: 20px;
    }
  }
}