@import "variables";
@import "mixins";

.navigation {
  @include flex(center, center, row);

  .title {
    position: relative;
    color: $white;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 1.5px);
      left: 20%;
      width: 34px;
      height: 3px;
      background-color: $yellow;
    }
  }
  &__list {
    display: none;
  }

}