@import "modules/header/header-tablet(425-1024)";

@media (min-width: 425px) and (max-width: 1024px) {
  .content {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 24px;
    }
  }
}
