@import "modules/header/header";
@import "modules/content/content";

body, h1, h2, h3, h4, h5, h6, p, form, input, button, ul, li, figure{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans";
}
a {
  text-decoration: none;
}

.container {
  padding: 34px 5%;
  .content {
    &__title {
      margin-bottom: 24px;
    }
    &__text {
      margin-bottom: 42px;
    }
    &__subtitle {
      margin-bottom: 24px;
    }
  }
  &__img {
    img {
      margin-top: 90px;
      width: 100%;
    }
  }
}