@import "variables";

@mixin flex( $justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin grid( $grid-template-columns, $grid-template-rows) {
  display: grid;
  grid-template-columns: $grid-template-columns;
  grid-template-rows: $grid-template-rows;
}