@media (min-width: 1024px) {
  .content {
    padding-top: 12vh;
    padding-bottom: 12vh;

    &__title {
      position: relative;
      margin-bottom: 52px;
      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 29vw;
        height: 1px;
        background-color: #abb2b7;
      }
    }
    .warning {
      margin-bottom: 24px;
    }
    .recording {
      top: 9vh;
    }
  }
}