.content__title {
  margin-bottom: 32px;
}
.content__list {
  padding: 24px 0;
}
.content__button {
  margin: 42px 0;
}
.content__button {
  justify-content: center;
}
.recording {
  margin-top: 42px;
}
