@import "variables";
@import "mixins";

/*import modules*/

@import "title";
@import "header";
@import "home";
@import "products";
@import "wooder";
@import "complexity";
@import "about-us";
@import "footer";


* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Proxima Nova";
}
a {
  text-decoration: none;
  outline: none;
  &:link, &:visited, &:hover, &:active{
    outline: none;
  }
}
button {
  outline: none;
}
ul {
  list-style: none;
}