@media (min-width: 1025px) {
  .recording {
    position: absolute;
    top: 0;
    right: -30vw;
    width: 30vw;
    height: 30vw;

    &__video {
      top: 0;
      left: 0;
      width: 30vw;
      height: 30vw;
    }
    &__video_half-size {
      top: calc(50% - 8vw);
      left: calc(50% - 8vw);
      width: 16vw;
      height: 16vw;
    }
  }
}
