@import "../form/form-desktop(1024+)";

@media (min-width: 1025px) {
  .registration {
    padding-left: 18vw;
    justify-content: center;
    height: 94vh;
    background: url("../img/background_md.jpg") no-repeat center/cover;

    &__title {
      font-size: 56px;
      padding-bottom: 16px;
    }
    &__text {
      padding-bottom: 42px;
      width: 31vw;
      font-size: 17px;
    }
    &__descr {
      color: #1f1f1f;
      padding-left: 24px;
      width: 310px;
      font-size: 13px;
    }
    &__call-me {
      padding: 24px;
      p {
        flex-direction: row;
      }
    }
  }
}