/* -- colors -- */
/* -- colors -- */
/* -- colors -- */
/* -- colors -- */
/* -- colors -- */
/* -- colors -- */
.language {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 75px; }
  .language::before {
    content: "";
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 0.5px);
    width: 1px;
    height: 18px;
    background-color: #424242; }
  .language__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #424242; }
    .language__item:hover, .language__item:active, .language__item_active {
      color: #8b8b8b; }
    .language__item_active {
      font-weight: 400; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.5vh;
  background-color: #f2f2f2;
  padding: 0 5%; }

/* -- colors -- */
/* -- colors -- */
.recording {
  position: relative;
  box-sizing: border-box;
  width: 90vw;
  height: 90vw;
  padding: 12px;
  overflow: hidden;
  background-color: #f3f3f3; }
  .recording__video {
    position: absolute;
    top: calc(50% - 45vw);
    left: calc(50% - 45vw);
    z-index: 1;
    display: block;
    width: 90vw;
    height: 90vw;
    object-fit: cover;
    object-position: center;
    overflow: hidden; }
    .recording__video_half-size {
      top: calc(50% - 22.5vw);
      left: calc(50% - 22.5vw);
      width: 45vw;
      height: 45vw; }
  .recording__video-preview {
    z-index: -1; }
  .recording__video-preview_active {
    z-index: 5; }
  .recording__descr {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; }
    .recording__descr img {
      display: none;
      margin-right: 12px; }
    .recording__descr span {
      padding: 10px 12px;
      background-color: #fff;
      border-radius: 17px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 2px;
      color: #424242; }
    .recording__descr_active {
      top: 0;
      left: 0; }
      .recording__descr_active img {
        display: inline-block;
        margin: 0; }
      .recording__descr_active span {
        background-color: #ff4343;
        color: #fff; }
    .recording__descr__pause span {
      background-color: #dde2e6;
      color: #4b4e4f; }
    .recording__descr_hidden {
      display: none; }

/* -- colors -- */
/* -- colors -- */
.warning {
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 8px; }
  .warning__title {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 12px;
    color: #ff4343; }
  .warning__text {
    font-size: 13px;
    color: #595959; }

body, h1, h2, h3, h4, h5, h6, p, form, input, button, ul, li, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans"; }

a {
  text-decoration: none; }

.content {
  padding: 32px 5%; }
  .content__title {
    font-weight: 400;
    font-size: 32px;
    color: #424242;
    line-height: 42px; }
  .content__subtitle {
    font-weight: 600;
    font-size: 17px;
    color: #595959; }
  .content__descr {
    font-size: 14px;
    color: #424242; }
  .content__text {
    font-family: "Open Sans";
    font-size: 15px;
    color: #595959; }
    .content__text span {
      font-weight: 600; }
    .content__text_noto-sans {
      font-family: "Noto Sans"; }
  .content__text + .content__text {
    margin-top: 16px; }
  .content__order-list {
    padding-left: 20px; }
  .content__order-item {
    font-size: 15px;
    color: #595959;
    padding: 12px 0; }
  .content__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 14px; }
  .content__item + .content__item {
    margin-top: 12px; }
  .content__item-img {
    margin-right: 12px; }
  .content__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    height: 54px;
    border: none;
    outline: none;
    background-color: #dde2e6;
    text-transform: uppercase;
    font-family: "Noto Sans";
    font-weight: 600;
    color: #424242; }
    .content__button_hidden {
      display: none; }
    .content__button span {
      display: block;
      width: 100%; }
    .content__button img {
      height: 54px; }
  .content__button + .content__button {
    margin-top: 12px; }

/*# sourceMappingURL=common.css.map */
