/* -- colors -- */
/* -- colors -- */
/* -- colors -- */
/* -- colors -- */
/* -- colors -- */
/* -- colors -- */
.language {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 75px; }
  .language::before {
    content: "";
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 0.5px);
    width: 1px;
    height: 18px;
    background-color: #424242; }
  .language__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #424242; }
    .language__item:hover, .language__item:active, .language__item_active {
      color: #8b8b8b; }
    .language__item_active {
      font-weight: 400; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.5vh;
  background-color: #f2f2f2;
  padding: 0 5%; }

/* -- colors -- */
/* -- colors -- */
/* -- colors -- */
/* -- colors -- */
.form {
  position: relative;
  width: 100%;
  height: 56px; }
  .form__input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 19.5% 0 11%;
    border: 1px solid #dde2e6;
    outline: none;
    font-family: "Noto Sans";
    font-size: 15px;
    color: #424242; }
    .form__input::placeholder {
      color: #424242; }
  .form__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 19.5%;
    height: 100%;
    background-color: transparent;
    border: none; }
    .form__submit img {
      width: 16px; }

.registration {
  height: 90.5vh;
  box-sizing: border-box;
  padding: 5% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: url("../img/webp/background_mobile_sm.webp") no-repeat center/cover; }
  .registration__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.06;
    color: #424242;
    padding-bottom: 16px; }
  .registration__text {
    font-family: "Noto Sans";
    font-size: 15px;
    color: #727272;
    padding-bottom: 24px; }
  .registration__title, .registration__text {
    width: 65%; }
  .registration__descr {
    padding-top: 12px;
    font-size: 12px;
    color: #232332; }
  .registration__call-me {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: content-box;
    padding: 16px 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: #75af26;
    font-family: "Noto Sans";
    font-weight: 600; }
    .registration__call-me figure {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px; }
    .registration__call-me img {
      height: 3.2vh; }
    .registration__call-me p {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      text-align: start; }

@keyframes ringing {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .registration__call-me_ringing {
    font-weight: 400;
    color: #424242; }
    .registration__call-me_ringing figure {
      position: relative;
      background-color: #fff;
      width: 28px;
      height: 28px;
      margin: 21px 33px 21px 21px;
      border-radius: 50%;
      border: 8px solid #dde2e6; }
      .registration__call-me_ringing figure::before {
        position: absolute;
        content: "";
        width: 36px;
        height: 36px;
        border: 17px solid #dde2e6;
        border-radius: 50%;
        animation-name: ringing;
        animation-duration: 0.8s;
        animation-direction: alternate;
        animation-iteration-count: infinite; }

body, h1, h2, h3, h4, h5, h6, p, form, input, button, ul, li, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans"; }

a {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
