@import "../../variables";
@import "../../mixins";

.language {
  @include flex(center, center);
  position: relative;
  height: 100%;
  width: 75px;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 0.5px);
    width: 1px;
    height: 18px;
    background-color: $title-color;
  }
  &__item {
    @include flex(center, center);
    width: 50%;
    height: 100%;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: $title-color;

    &:hover, &:active, &_active {
      color: $title-color-active;
    }
    &_active {
      font-weight: 400;
    }
  }
}