@import "../../variables";
@import "../../mixins";

.form{
  position: relative;
  width: 100%;
  height: 56px;

  &__input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 19.5% 0 11%;
    border: 1px solid $border-color;
    outline: none;
    font-family: "Noto Sans";
    font-size: 15px;
    color: $title-color;

    &::placeholder {
      color: $title-color;
    }
  }
  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 19.5%;
    height: 100%;
    background-color: transparent;
    border: none;

    img {
      width: 16px;
    }
  }
}