@media (min-width: 450px) and (max-width: 1024px) {
  .form {
    height: 70px;
    width: 60vw;

    &__input {
      font-size: 20px;

      &::placeholder {
        font-size: 20px;
      }
    }
  }
}